extends layout
block content
  h1 Welcome to the #{title}
  p
    table.table.table-hover
      thead
        tr
          th Status
          th Swarm Publishing Winner
          th Latest
          th Number
          th Tests
          th User
          th Comment
      tbody
      tr(class=(i % 2 == 0) ? 'odd' : 'even')
        td
          img(src=("/images/blue.png"), width=20)
        td #{latest.jobName}

            td
               a(href='https://github.com/MyRobotLab/myrobotlab/commit/' + latest.data['git.commit.id'])  #{latest.data['git.commit.time']}
            td
               a(href='/builds/' + latest.data['git.branch'] + '/' + latest.jobName + '/' + latest.name) #{latest.name}
            td
                a(href='/builds/' + latest.data['git.branch'] + '/' + latest.jobName + '/' + latest.name + '/target/site/surefire-report.html') #{latest.tests.total} #{latest.tests.errors} #{latest.tests.failures} #{latest.tests.skipped}
            td
               a(href='http://github.com/' + latest.data['git.commit.user.name']) #{latest.data['git.commit.user.name']}
            td #{latest.data['git.commit.message.short']}


      table.table.table-hover
        thead
          tr
            th Status
            th Swarm Job History
            th Latest
            th Number
            th Tests
            th User
            th Comment
        tbody
        each build, i in builds
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td
              img(src=("/images/blue.png"), width=20)
            td #{build.jobName}

                td
                   a(href='https://github.com/MyRobotLab/myrobotlab/commit/' + build.data['git.commit.id'])  #{build.data['git.commit.time']}
                td
                   a(href='/builds/' + build.data['git.branch'] + '/' + build.jobName + '/' + build.name) #{build.name}
                td
                    - var reportUrl = '/builds/' + build.data['git.branch'] + '/' + build.jobName + '/' + build.name + '/target/site/surefire-report.html';
                    if build.tests.errors > 0
                      a(href=reportUrl) #[img(src='images/icon_error_sml.gif',  alt="errors")]
                    else
                      a(href=reportUrl) #[img(src='images/icon_success_sml.gif',  alt="tests")]
                    // #{build.tests.total} #{build.tests.errors} #{build.tests.failures} #{build.tests.skipped}
                td
                   a(href='http://github.com/' + build.data['git.commit.user.name']) #{build.data['git.commit.user.name']}
                td #{build.data['git.commit.message.short']}
