extends layout
block content

  h1 Welcome to the #{title}
  p
    table.table.table-hover
      thead
        tr
          th Status
          th Job
          th Latest
          th Number
          th User
          th Comment
      tbody
        each job, i in displayJobs
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td
              img(src=("/images/blue.png"), width=20)
            td #{job.name}  <!-- #{job.latest.name} -->

              if job.latest.data != null
                td #{job.latest.data['git.commit.time']}
                td
                   a(href='/builds/' + job.latest.data['git.branch'] + '/' + job.name + '/' + job.latest.name) #{job.latest.name}
                td
                   a(href='http://github.com/' + job.latest.data['git.commit.user.name']) #{job.latest.data['git.commit.user.name']}
                <!-- td #{JSON.stringify(job)} -->
                td #{job.latest.data['git.commit.message.short']}
