extends layout
block content
  h1 Welcome to the #{title}
  p   perma-link #[a(href='http://build.myrobotlab.org:8888/getLatest') http://build.myrobotlab.org:8888/getLatest]
  p   build number - #{globalData.latest['develop'].number} #{globalData.latest['develop'].build.key}
      table.table.table-hover
        thead
          tr
            th Status
            th Swarm Job History
            th Latest
            th Number
            th Time
            th User
            th Comment
        tbody
        each build, i in builds
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td
                - var reportUrl = '/builds/' + build.data['git.branch'] + '/' + build.jobName + '/' + build.name + '/target/site/surefire-report.html';
                if build.tests.errors > 0
                  a(href=reportUrl) #[img(src='images/icon_error_sml.gif',  alt="errors")]
                else
                  a(href=reportUrl) #[img(src='images/icon_success_sml.gif',  alt="tests")]
                // #{build.tests.total} #{build.tests.errors} #{build.tests.failures} #{build.tests.skipped}
            td #{build.jobName}

            td
               a(href='https://github.com/MyRobotLab/myrobotlab/commit/' + build.data['git.commit.id'])  #{build.data['git.commit.time']}
            td
               a(href='/builds/' + build.data['git.branch'] + '/' + build.jobName + '/' + build.name) #{build.name}
            td #{build.tests.time}
            td
               a(href='http://github.com/' + build.data['git.commit.user.name']) #{build.data['git.commit.user.name']}
            td #{build.data['git.commit.message.short']}
