extends layout
block content
  h1 Welcome to the #{title}
  p
    table.table.table-hover
      thead
        tr
          th Status
          th Job
          th Latest
          th Number
          th Tests
          th User
          th Comment
      tbody
        each build, i in builds
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td
              img(src=("/images/blue.png"), width=20)
            td #{build.jobName}

                td
                   a(href='https://github.com/MyRobotLab/myrobotlab/commit/' + build.data['git.commit.id'])  #{build.data['git.commit.time']}
                td
                   a(href='/builds/' + build.data['git.branch'] + '/' + build.jobName + '/' + build.name) #{build.name}
                td #{build.tests.total} #{build.tests.errors}
                <!-- td #{JSON.stringify(job)} -->
                td
                   a(href='http://github.com/' + build.data['git.commit.user.name']) #{build.data['git.commit.user.name']}
                td #{build.data['git.commit.message.short']}
